// import from internet
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  // 62.5% <=> 10px
  font-size: 62.5%;
  line-height: 1.5;

  font-family: Verdana, sans-serif;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 1.5rem;
}

.wrapper {
  max-width: 100%;
  width: 80rem;
  margin: 0 auto;
  padding: 7.4rem 1.6rem 6.4rem;
}
