.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: #000;
  height: var(--header-h);

  // Nav Desktop
  .nav-desktop {
    @include flex(space-between);
    height: inherit;

    @include mobile {
      display: none;
    }
  }

  .nav {
    @include flex(start);

    &-item {
      position: relative;
    }

    &-item > .nav-link {
      display: block;
      height: var(--header-h);
      line-height: var(--header-h);
      color: #fff;
      text-transform: uppercase;
      padding: 0 2.4rem;
    }

    &-item:hover > .nav-link {
      color: #000;
      background-color: #ccc;
    }

    &-item:hover > .subnav {
      display: block;
    }

    .subnav {
      display: none;
      min-width: 16rem;

      position: absolute;
      background-color: #fff;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
        0 4px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .subnav-item > .nav-link {
      width: 100%;
      display: block;
      color: #000;
      font-size: 1.5rem;
      padding: 8px 16px;
      line-height: 22.5px;
    }

    .subnav-item:hover > .nav-link {
      background-color: #ccc;
    }
  }

  .search-btn {
    padding: 0 2.4rem;
    height: 100%;
    color: #fff;
    background-color: transparent;

    &:hover {
      background-color: #f44336;
    }
  }

  // Nav Mobile
  .nav-mobile {
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;

    & > .nav-link {
      display: block;
      height: var(--header-h);
      line-height: var(--header-h);
      color: #fff;
      text-transform: uppercase;
      padding: 0 2.4rem;

      &:hover {
        color: #000;
        background-color: #ccc;
      }
    }

    .nav-mobile-menu-btn {
      color: #fff;
      background-color: transparent;
      width: calc(var(--header-h) * 1.2);
      height: var(--header-h);

      &:hover {
        color: #000;
        background-color: #ccc;
      }
    }

    .nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      flex-direction: column;

      &-item {
        background-color: #000;
        width: 100%;

        &:hover > ul.subnav {
          display: none;
        }
      }

      &.active {
        display: flex;
      }

      .subnav {
        width: 100%;

        &.active {
          display: block !important;
        }

        &-item > a {
          padding-left: 3rem;
        }
      }
    }

    @include mobile {
      display: flex;
    }
  }
}
